h1 {
    color: red
}

.socket{
    color: blue;
}

.mensaje{
    color: green;
}

.formulario{
    background-color: lightgray;
    padding: 10px;
}

.author{
    color: blue;
}

.message{
    color: red;
}